body {
  margin: 0;
}

#header {
  background: #3F51B5;
  height: 75px;
  font-size: 80px;
  color: white;
  font-family: 'Roboto', sans-serif;
}


.whitebold {
  font-size: 80px;
  color: white;
  margin-left: 30px;
  font-weight: bold;
}

#main-wrap > div { min-height: 450px; }

#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#info {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    width:25%;
}

#content {
    float: right;
    width: 70%;
    font-size: 25px;
}

#content h1 {
  font-size: 30px;
}

#tbl-info {
  margin-top: 20px;
}

.info-title  {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  color: #3F51B5;
}

.info-detail {
  font-size: 23px;
  padding-left: 25px;
}

.home-icon {
  float: right;
  float: right;
  height: 75px;
  width: 75px;
  margin-right:20px;
}

.col-title {
  text-transform: uppercase;
}
